<div class="schedule-container">
  <div class="schedule-header">
    <i class="far fa-clock"></i>
    Horário de Funcionamento
  </div>
  
  <div class="schedule-item closed">
    <span class="day">Domingo</span>
    <span class="hours">Fechada</span>
  </div>
  
  <div class="schedule-item">
    <span class="day">Segunda-feira</span>
    <span class="hours">
      <span class="time-block">07:30 - 11:30</span>
      <span class="time-block">13:30 - 17:30</span>
    </span>
  </div>
  
  <div class="schedule-item">
    <span class="day">Terça-feira</span>
    <span class="hours">
      <span class="time-block">07:30 - 11:30</span>
      <span class="time-block">13:30 - 17:30</span>
    </span>
  </div>
  
  <div class="schedule-item">
    <span class="day">Quarta-feira</span>
    <span class="hours">
      <span class="time-block">07:30 - 11:30</span>
      <span class="time-block">13:30 - 17:30</span>
    </span>
  </div>
  
  <div class="schedule-item">
    <span class="day">Quinta-feira</span>
    <span class="hours">
      <span class="time-block">07:30 - 11:30</span>
      <span class="time-block">13:30 - 17:30</span>
    </span>
  </div>
  
  <div class="schedule-item">
    <span class="day">Sexta-feira</span>
    <span class="hours">
      <span class="time-block">07:30 - 11:30</span>
      <span class="time-block">13:30 - 17:30</span>
    </span>
  </div>
  
  <div class="schedule-item weekend">
    <span class="day">Sábado</span>
    <span class="hours">
      <span class="time-block">07:30 - 11:30</span>
    </span>
  </div>
</div> 